In [13]:
import json
import requests
import pandas as pd

In [33]:
# List of character
search_characters = ['R2-D2', 'Darth Vader', 'Godzilla', 'Luke Skywalker', 'Frodo', \
              'Boba Fett', 'Iron Man', 'Jon Snow', 'Han Solo']

# Set url for API
url = 'https://swapi.dev/api/people/?search='

# Set empty lists to hold character's height and mass
ch = []
height = []
mass = []

# Loop through each character and make API request
#query_list=list[{(url + character) for character in search_characters}]
for character in search_characters:
# Create search query, make request and store in json
    
    query_url = url+character.replace(" " , "+")
    try:
        char_found = requests.get(query_url).json()
    # Try to grab the height and mass of characters if they are available in the Star Wars API
        height.append(char_found["results"][0]["height"])
        mass.append(char_found["results"][0]["mass"])
        ch.append(character)
        
    # Handle exceptions for a character that is not available in the Star Wars API
    except:
#        height.append('0')
#        mass.append('0')          
        print("Character " + character + " not found")
    print(query_url)
ch, height, mass

https://swapi.dev/api/people/?search=R2-D2
https://swapi.dev/api/people/?search=Darth+Vader
Character Godzilla not found
https://swapi.dev/api/people/?search=Godzilla
https://swapi.dev/api/people/?search=Luke+Skywalker
Character Frodo not found
https://swapi.dev/api/people/?search=Frodo
https://swapi.dev/api/people/?search=Boba+Fett
Character Iron Man not found
https://swapi.dev/api/people/?search=Iron+Man
Character Jon Snow not found
https://swapi.dev/api/people/?search=Jon+Snow
https://swapi.dev/api/people/?search=Han+Solo

(['R2-D2', 'Darth Vader', 'Luke Skywalker', 'Boba Fett', 'Han Solo'],
 ['96', '202', '172', '183', '180'],
 ['32', '136', '77', '78.2', '80'])

In [34]:
# Create DataFrame
character_Details = pd.DataFrame({
    "Character" : ch,
    "Height" : height,
    "Mass": mass
})
character_Details

        Character Height  Mass
0           R2-D2     96    32
1     Darth Vader    202   136
2  Luke Skywalker    172    77
3       Boba Fett    183  78.2
4        Han Solo    180    80

pandas.core.frame.DataFrame