## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Khuzhir,RU,51.55,broken clouds,53.19,107.34,Отель на озере Байкал Baikal View
1,4,Lebu,CL,54.23,clear sky,-37.62,-73.65,Hostal Las Lilas
2,6,Rikitea,PF,72.88,light rain,-23.12,-134.97,People ThankYou
3,18,Hilo,US,73.40,broken clouds,19.73,-155.09,Hilo Hawaiian Hotel
4,20,Veinticinco De Mayo,AR,68.13,clear sky,-35.43,-60.17,Estancia La Rosada

In [3]:
#vacation_df.iterrows?

In [4]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City Name</dt><dd>{City}</dd>
<dt>Country Code</dt><dd>{Country}</dd>
<dt>Whether Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
#vacation_df = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [11]:
#gmaps.figure?

In [5]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [48]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"]=="Mercedes"]
vacation_end = vacation_df.loc[vacation_df["City"]=="Mercedes"]
vacation_stop1 = vacation_df.loc[vacation_df["City"]=="Veinticinco De Mayo"]
vacation_stop2 = vacation_df.loc[vacation_df["City"]=="Necochea"]
vacation_stop3 = vacation_df.loc[vacation_df["City"]=="Mar Del Plata"]

In [60]:
# DataFrames for each City...
(vacation_start)

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
59,138,Mar Del Plata,AR,69.82,clear sky,-38.0,-57.56,Gran Hotel Mar del Plata

In [61]:
(vacation_stop1)

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
4,20,Veinticinco De Mayo,AR,68.13,clear sky,-35.43,-60.17,Estancia La Rosada

In [62]:
(vacation_stop2)

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
163,404,Necochea,AR,65.08,clear sky,-38.55,-58.74,dyd -mar Hotel

In [63]:
(vacation_stop3)

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
59,138,Mar Del Plata,AR,69.82,clear sky,-38.0,-57.56,Gran Hotel Mar del Plata

In [50]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
#end = list(vacation_start["Lat"])[0],list(vacation_start["Lng"])[0]

start = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
end = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
stop1 = vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0]

In [51]:
print(start)
print(end)
print(stop1)
print(stop2)
print(stop3)

(-34.65, -59.43)
(-34.65, -59.43)
(-35.43, -60.17)
(-38.55, -58.74)
(-38.0, -57.56)

In [52]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
# trip1 = gmaps.directions_layer(start, stop1)
# trip2 = gmaps.directions_layer(stop1, stop2)
# trip3 = gmaps.directions_layer(stop2, stop3)
# trip4 = gmaps.directions_layer(stop3, end)

# fig.add_layer(trip1)
# fig.add_layer(trip2)
# fig.add_layer(trip3)
# fig.add_layer(trip4)

trip = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2, stop3],
        travel_mode='DRIVING')
fig.add_layer(trip)
fig

Figure(layout=FigureLayout(height='420px'))

In [56]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
#itinerary_df = pd.concat([(vacation_start), (vacation_stop1), (vacation_stop2), (vacation_stop3), (vacation_end)],ignore_index=True)
itinerary_df = pd.concat([(vacation_start), (vacation_stop1), (vacation_stop2), (vacation_stop3), (vacation_end)],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,565,Mercedes,AR,73.85,clear sky,-34.65,-59.43,Posada del Inti Centro
1,20,Veinticinco De Mayo,AR,68.13,clear sky,-35.43,-60.17,Estancia La Rosada
2,404,Necochea,AR,65.08,clear sky,-38.55,-58.74,dyd -mar Hotel
3,138,Mar Del Plata,AR,69.82,clear sky,-38.00,-57.56,Gran Hotel Mar del Plata
4,565,Mercedes,AR,73.85,clear sky,-34.65,-59.43,Posada del Inti Centro

In [57]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City Name</dt><dd>{City}</dd>
<dt>Country Code</dt><dd>{Country}</dd>
<dt>Whether Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [55]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))