In [21]:
# Dependencie
import pandas as pd

In [22]:
# Load in file
movie_file = "Resources/movie_scores.csv"

In [23]:
# Read and display the CSV with Pandas
df = pd.read_csv(movie_file, encoding="ISO-8859-1")

In [24]:
# List all the columns in the table
df.columns

Index(['FILM', 'RottenTomatoes', 'RottenTomatoes_User', 'Metacritic',
       'Metacritic_User', 'IMDB', 'Fandango_Stars', 'Fandango_Ratingvalue',
       'RT_norm', 'RT_user_norm', 'Metacritic_norm', 'Metacritic_user_nom',
       'IMDB_norm', 'RT_norm_round', 'RT_user_norm_round',
       'Metacritic_norm_round', 'Metacritic_user_norm_round',
       'IMDB_norm_round', 'Metacritic_user_vote_count', 'IMDB_user_vote_count',
       'Fandango_votes', 'Fandango_Difference'],
      dtype='object')

In [32]:
# We only want IMDb data, so create a new table that takes the Film and all the columns relating to IMDB
# imdb_df = df.set_index("FILM")
imdb_df = df.loc[:,["FILM","IMDB", "IMDB_norm", "IMDB_user_vote_count"]]
imdb_df.head()

                             FILM  IMDB  IMDB_norm  IMDB_user_vote_count
0  Avengers: Age of Ultron (2015)   7.8       3.90                271107
1               Cinderella (2015)   7.1       3.55                 65709
2                  Ant-Man (2015)   7.8       3.90                103660
3          Do You Believe? (2015)   5.4       2.70                  3136
4   Hot Tub Time Machine 2 (2015)   5.1       2.55                 19560

In [36]:
# We only like good movies, so find those that scored over 7, and ignore the norm rating
#imdb_df = imdb_df["IMDB"] >= 7
imdb_df = imdb_df.loc[imdb_df["IMDB"] >= 7, ["FILM","IMDB", "IMDB_norm", "IMDB_user_vote_count"]]

In [38]:
# Find less popular movies--i.e., those with fewer than 20K votes
imdb_df= imdb_df.loc[(imdb_df["IMDB"] >= 7) & ["IMDB_user_vote_count"] < 20000, ["FILM","IMDB", "IMDB_norm", "IMDB_user_vote_count"]]
imdb_df.head()

                             FILM  IMDB  IMDB_norm  IMDB_user_vote_count
0  Avengers: Age of Ultron (2015)   7.8       3.90                271107
1               Cinderella (2015)   7.1       3.55                 65709
2                  Ant-Man (2015)   7.8       3.90                103660
5        The Water Diviner (2015)   7.2       3.60                 39373
8    Shaun the Sheep Movie (2015)   7.4       3.70                 12227